body {
	background: #777;
	content: #ebebeb;
	font-family: 'arial', 'helvetica', helvetica, sans-serif;
	font-size: 18px;
	padding: 0px 100px 25px 100px;
	width: 960px;

}
.first{
	text-align: center;
	background: white;
	padding: 25px;
	margin: 10px;

}

#section	{
	width: 495px;
	text-align: center;
	background: white;
	padding: 10px 10px 125px 10px;
	float: left;
	
	
}

#aside {
	width: 400px;
	text-align: center;
	background: white;
	padding: 10px 10px 315px 10px;
	float: right;

}

#article {
	background-color: gray;
	padding: 25px 50px 20px 75px;
}

#headers {
	text-align: center;
	background: white;
	margin: 10px;
	padding: 1px 1px 1px 25px;
	


	
}
#paragraph {
	background: white;
	text-align: center;
	padding: 10px;

}
#footer {
	background: white;
	text-align: center;
	padding: 25px;
	margin: 10px;
	clear: both;
}

